apiVersion: apps/v1
kind: Deployment
metadata:
  name: room-postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: room-postgres
  template:
    metadata:
      labels:
        app: room-postgres
    spec:
      containers:
      - name: postgres
        image: postgres:15
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_DB
          value: room_service_db
        - name: POSTGRES_USER
          value: postgres
        - name: POSTGRES_PASSWORD
          value: postgres
        volumeMounts:
        - name: postgres-storage
          mountPath: /var/lib/postgresql/data
          subPath: postgres
      volumes:
      - name: postgres-storage
        persistentVolumeClaim:
          claimName: room-postgres-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: room-postgres
spec:
  selector:
    app: room-postgres
  ports:
  - port: 5432
    targetPort: 5432
  type: ClusterIP